*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(218, 217, 217);
    font-size: 20px;

}


a{
    color: rgb(41, 39, 39);
    text-decoration: none;
}
ul{
 display: flex;
   justify-content: center;
    gap: 20px;
  
}
.nav{

  padding: 20px; 
}
.text{
    padding: 20px;

   text-align: center;
   h1{
    font-size: 150px;
   }
}
.top{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bootom{
    position: absolute;
 background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    width: 100%;
  left: 0;
  bottom: 0;
  padding: 5px;
}
.one{
   
        position: absolute;
        top: 40%;
        left: 50%;
     width: 250px;
    height: 300px;
    object-fit: cover;
   


    
  }

.two{
    position: absolute;
    left: 65%;
      top: 60%;
      /* bottom: px; */
         width: 200px;
    height: 200px;
    object-fit: cover;
  
}
.three{
     position: absolute;
    left: 78%;
     top: 38%;
        width: 200px;
    height: 300px; 
    object-fit: cover;
  
}